* {
  box-sizing: border-box;
  font-family: comic sans-serif;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.4em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: lightskyblue;
}

.main-header {
  background-image: url("/images/HeaderBackground.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Georgia";
  font-weight: normal;
  color: grey;
}

.name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: "Arial";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.53m;
}

.about-image {
  position: relative;
  float: left;
  margin: 15px;
  border-radius: 50%;
  left: -23px;
  top: -63px;
}

.main-footer {
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 60px;
  height: 60px;
}

.row {
  display: flex;
}

.column {
  flex: 33.3%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.btn-header {
  display: block;
  margin: 0 auto;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: red;
  border-radius: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

.btn-header:hover {
  background-color: lightskyblue;
}

.game-image {
  display: block;
  margin: 0 auto;
  padding: 0.67em;
}

.games-header {
  font-family: "Arial";
  color: #333;
  text-align: center;
  font-size: 2em;
}

.games-subheader {
  font-family: "Arial";
  font-weight: normal;
  color: #333;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 2em;
}

.home-info {
  font-family: "Arial";
  font-weight: normal;
  color: #333;
  padding: 0.67em;
}
